################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dietProjV2/bin/Debug/net5.0
/dietProjV2/obj
/.vs/dietProjV2/DesignTimeBuild
/.vs/dietProjV2/v16/.suo
